*{
        		margin: 0;
        		padding: 0;
        		-webkit-box-sizing: border-box;
        		-moz-box-sizing: border-box;
        		box-sizing: border-box;
        		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        	}
        	body{
        		background: #b0bec5;
			
        	}
        	.main{
        		margin: -20px auto;
        		width: 60%;
        	}
        	.progressBar{
        		position: relative;
        		width: 100%;
        		height: 40px;
        		background: #eeeeee;
        		margin-bottom: 20px;
        		border-radius: 5px;
        		box-shadow: 0 1px 2px #222;
        	}
        	.title{
        		position: absolute;
        		width: 100px;
        		height: 40px;
        		padding-left: 10px;
        		float: left;
        		font-weight: bold;
        		color: #fff;
        		line-height: 2.5;
        		z-index: 10000;
        		border-top-left-radius: 5px;
        		border-bottom-left-radius: 5px;
        		box-shadow: 2px 0 2px #333;
        		text-shadow: 1px 1px 1px #000;
        	}
        	.progress_value{
        		position: relative;
        		float: right;
        		padding-right: 10px;
        		line-height: 2.5;
        		font-weight: bold;
        		color: #455a64;
        		z-index: 10000;
        	}
        	.progress{
        		height: 40px;
        		position: absolute;
        		border-radius: 5px;
        		box-shadow: 2px 0 2px #555;
        	}
        	.htmlColor{
        		background: #b71c1c;
        	}
        	.cssColor{
        		background: #4a148c;
        	}
        	.jsColor{
        		background: #1a237e;
        	}
        	.phpColor{
        		background: #1b5e20;
        	}
        	.ajaxColor{
        		background: #ff6f00;
        	}
        	.html{
        		background: #ec407a;
        	}
        	.css{
        		background: #ab47bc;
        	}
        	.js{
        		background: #5c6bc0;
        	}
        	.php{
        		background: #66bb6a;
        	}
        	.ajax{
        		background: #ffca28;
        	}
        	@media (max-width: 720px) {
        		.main{
        			width: 90%;
        		}
        	}